

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 30px;
    padding-right: 30px;
}
.navbar {
    font-size: large;
    font-style: normal;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 50px;
    text-transform: uppercase;
}
.navbar-brand {
    color: #ffffcc;
    font-size: 25px;
    text-transform: capitalize;
    border: dotted;
    border-color: #ffffcc;
    border-width: 2px;
    padding: 7px 4px 7px 4px;
    border-radius: 3px 4px;
}
body {
    padding-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('../images/bg3.jpg');
    background-size: cover;
    background-attachment: fixed;
}
a:hover {
    color: white;
    text-decoration: none;
    text-emphasis-color: transparent;
    border: dotted;
    border-color: white;
    border-width: 2px;
    font-weight:bold;
}
#navbarDropdownMenuLink:hover {
    color: white;
    text-decoration: none;
    text-emphasis-color: transparent;
}
.logo {
    padding: 4px 7px 2px 4px;
    border-radius: 7px 7px;
    border-color: dimgrey;
}
.dropdown-item {
    background-color: transparent;
    color: darkslategrey;
}
.nav-item, #navbarDropdownMenuLink {
    margin: 4px 10px 4px 10px;
    padding: 4px 7px 2px 4px;
    color: darkslategray;
}
.card h2, h4 {
    text-align: center;
    color: darkslategrey;
    text-transform: uppercase;
}
.card {
    border-color: #ccccff;
    border-width: 4px;
    background-attachment: initial;
    max-width: 100%;
    min-width: 30%;
    max-height: 100%;
    min-height: 100%;
    color: #9a9af7;
}
.btn-outline-info {
    color: #9a9af7;
    border-color: #9a9af7;
}
    .btn-outline-info:hover {
        background-color: #9a9af7;
        border-color: #9a9af7;
        color: white;
    }
.btn-outline-success {
        color: #478b03;
        border-color: #478b03;
    }
    .btn-outline-success:hover {
            background-color: #478b03;
            border-color: #478b03;
            color: white;
        }
.btn-outline-danger {
    color: #f31b64;
    border-color: #f31b64;
}
    .btn-outline-danger:hover {
        background-color: #f31b64;
        border-color: #f31b64;
        color: white;
    }
.card-body::after {
    text-align: center;
    text-transform: uppercase;
    }
dt, th {
    padding-top: 10px;
    padding-bottom: 10px;
    color: darkslategrey;
    border-bottom: dotted;
    border-bottom-color: grey;
    border-bottom-width: 1px;
    text-transform: uppercase;
    font-size: large;
    text-align:center;
}
dd, td {
    padding-top: 10px;
    font-size: large;
    text-align: center;
}
.bg-nav {
    background-color: #ccccff;
}
.bg-card {
    background-color: #ffffcc;
}
.card-link {
    color: darkslategrey;
    font-size: x-large;
    text-transform: uppercase;
    padding: 50px 10px 50px 50px;
}
.card-body{
    font-size: large;
}
#connexionPage{
    justify-content:center;
}
.dl-horizontal dt {
    white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    bottom: auto;
    bottom: 0;
}
#cardPaiement {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    margin-bottom: 1rem;
}
.bg-gradient-info {
    color: #fff;
    background: #17a2b8 linear-gradient(180deg,#3ab0c3,#17a2b8) repeat-x !important;
}


