body {
   /* padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 30px;
    padding-right: 30px;
}
.navbar {
    font-size: large;
    font-style: normal;
    background-color: rgba(255, 255, 255, 0.5);
}
.navbar-brand {
    color: darkmagenta;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('../images/bg3.jpg');
    background-size: cover;
    background-attachment: fixed;
}
footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: fixed;
    bottom: 0;
    color: white;
}

a:hover {
    color: cadetblue;
    background-color: rgba(177, 134, 67, 0.20);
    text-decoration: none;
    text-emphasis-color: transparent;
}
a:active {
    color: darkblue;
}
.logo {
    border: solid;
    padding: 4px 7px 2px 4px;
    border-radius: 7px 7px;
    border-color: dimgrey;
    border-style: dotted;
}
.nav-item, .dropdown-item, #navbarDropdownMenuLink, .navbar-brand {
    padding: 4px 7px 2px 4px;
    color: darkolivegreen;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
